.header{
    background-color: #7025FB;
    width: 923px;
    height: 84px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;


}

.header-title{
    position: absolute;
    color: white;
    Width: 252.82px;
    Height: 23.35px;
    margin: 30px 587px 30.65px 82px;
    font-size: 20px;
}


.crown{
    position: absolute;
    margin: 30px 587px 35.26px 60px;
    Width: 14.67px;
    Height: 18.33px
}

.chess-board{
    position: absolute;
    width: 923px;
    height: 1196px;
    margin-top: 84px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.red-container{
    position: absolute;
    background-color: #FD5334;
    width: 997px;
    height: 1280px;
    left: 923px;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.heading-text1{
    font-size: 80px;
    color: white;
    font-family: 'Nunito', sans-serif;
    margin-top: 265px;
    margin-left: 85px;
    margin-bottom: 16px;
    width: 496px;
    height: 109px;
    position:absolute;


}

.heading-text2{
    font-size: 80px;
    color: white;
    font-family: 'Nunito', sans-serif;
    width: 570px;
    height: 109px;
    margin-left: 85px;
    margin-top: 390px;
    position:absolute;


}

.heading-text3{
    Width: 136px;
    Height: 27px;
    margin: 306px 254px 947px 607px;
    position:absolute;
    font-family: 'Nunito';
}

.rectangle{
    background-color: #212529    ;
    color: white;
    border-radius: 8px;
    width: 191px;
    height: 53px;
    font-size: 20px;
    font-family: 'Open Sans';
    margin-left: 85px;
    margin-top: 601px;
    position:absolute;

}

.button-text{
    margin: 10px 60px 13px 24px;
    width: 107px;
    height: 27px;
}

.arrow{
    margin-top: 615px;
    margin-left: 228px;
    position:absolute;
}


.chess{
    position: absolute;
    width: 923px;
    height: 1196px;
    margin-top: 84px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

}

.create-account{
    position: absolute;
    Width: 215px;
    Height:24px;
    margin-left: 970px;
    margin-top: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;

}

.line{
    width: 995px;
    background-color:#B9B4C3;
    margin-top: 75px;
    margin-left: 915px;
    position: absolute;
    border-bottom: 1px solid silver;
}


.personal-information{
    margin-left: 971px;
    margin-top: 324px;
    font-size: 32px;
    font-family: 'Open sans';
    font-weight: 600;
}

.basic-information{
    Width:205px;
    Height:21px;
    margin-left: 971px;
    margin-top: -10px;
    color: #95939A;
    font-size: 14px;
}
.form{
    position: absolute;
}

.next-button{
    background-color: #212529    ;
    color: white;
    border-radius: 8px;
    width: 128px;
    height: 53px;
    font-size: 20px;
    font-family: 'Open Sans';
    margin-left: 650px;
    margin-top: 96px;
    position:absolute;
}


.next-button-text{
    width: 44px;
    height: 27px;
    margin: 10px 60px 13px 20px;
}

.back-button{
    border-radius: 8px;
    background-color: white;
    color: #212529;
    width: 93px;
    height: 53px;
    font-size: 20px;
    position:absolute;
    font-family: 'Open Sans' ;
    margin-top: 96px;

}

.back-button:hover{
    background-color: #B9B4C3    ;

}

.back-button-text{
    width: 45px;
    height: 27px;
    margin: 0 auto;
}


input{
    margin-top: 30px;
    width: 775px;
    height: 46px;
    font-size: 20px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125); 

}

input:hover{
    background: #F8F9FA;
}

input:active{
    background: #E9ECEF;
}

/* input:after {
    content: '*';
    color: red;
 } */
.arrow-2{
    position: absolute;
    margin-left: 735px;
    margin-top: 111px;
    

}



        